<footer class="footer fixed-bottom">
  <div class="container-fluid">
    <nav class="pull-left">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="[ROUTES.HOME]">
            {{'footer.buttons.home' | translate}}
          </a>
        </li>
        <li class="nav-item ml-3">
          <a class="nav-link" routerLinkActive="active" [routerLink]="[ROUTES.LOGIN]">
            {{'footer.buttons.login' | translate}}
          </a>
        </li>
        <li class="nav-item ml-3">
          <a class="nav-link" routerLinkActive="active" [routerLink]="[ROUTES.REGISTER]">
            {{'footer.buttons.register' | translate}}
          </a>
        </li>
      </ul>
    </nav>
    <div class="copyright ml-auto">
      {{'footer.copyrights' | translate}}
    </div>
  </div>
</footer>
