<div class="card">
  <div class="card-header">
    <h4 class="card-title">User Roles</h4>
  </div>
  <div class="card-body">
    <p class="demo" *ngFor="let item of roleList">
      <label class="form-check-label">
        <!--TODO: no need for click event here-->
        <input class="form-check-input" type="checkbox" value="" (change)="onCheckRoles(item)"  >
        <span class="form-check-sign">{{item.labelEN}}</span>
      </label>
    </p>
  </div>
</div>

<div class="card" *ngFor="let item of pageList">
  <div class="card-header">
    <h4 class="card-title" >
      <p class="demo">
        <label class="form-check-label" >
          <input class="form-check-input" type="checkbox" value="" [checked]="item.isChecked" >
          <span class="form-check-sign">{{item.labelEN}}</span>
        </label>
      </p>
    </h4>
  </div>
  <div class="card-body">
    <p class="demo" *ngFor="let i of item.actionList">
      <label class="form-check-label" >
        <!--TODO: no need for click event here-->
        <input class="form-check-input" type="checkbox" value="" [checked]="i.isChecked">
        <span class="form-check-sign">{{i.labelEN}}</span>
      </label>
    </p>
  </div>
</div>

