<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <div class="bt-df-checkbox">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="i-checks">
          <p class="demo" *ngFor="let item of roleList">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" value="" (change)="onCheckRoles(item)"  >
              <span class="form-check-sign">{{item.labelEN}}</span>
            </label>
          </p>
        </div>
      </div>
    </div>

    <div class="row" *ngFor="let item of pageList" >
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="i-checks">
          <p class="demo">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" value="" (change)="onCheckRoles(item)"  >
              <span class="form-check-sign">{{item.labelEN}}</span>
            </label>
          </p>
        </div>
      </div>
      <p class="demo" *ngFor="let i of item.actionList">
        <label class="form-check-label" >
          <input class="form-check-input" type="checkbox" value="" [checked]="i.isChecked">
          <span class="form-check-sign">{{i.labelEN}}</span>
        </label>
      </p>
    </div>
  </div>
</div>
