
<mat-form-field>
  <input matInput [matDatepicker]="expirysDateFrom">
  <mat-datepicker-toggle matSuffix [for]="expirysDateFrom"></mat-datepicker-toggle>
  <mat-datepicker #expirysDateFrom></mat-datepicker>
  <!--<aml-date-picker-remove [language]="CURRENT_LANG" [formGroup]="filters"-->
  <!--[formContName]="'expiryDateFrom'"></aml-date-picker-remove>-->
</mat-form-field>

<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Courses</li>
    </ol>
  </nav>

  <div class="card">
    <div class="card-header">
      {{'amLib.abstractList.filter.header' | translate}}
    </div>
    <div class="card-body">
      <form [formGroup]="filters" (keydown.enter)="onSearch()">

        <div class="row">
          <div class="col-3">
            <div class="form-group">
              <label>User name</label>
              <input type="text" class="form-control" id="fullName" aria-describedby="fullName"
                     placeholder="Enter Full Name" formControlName="fullName">
            </div>
          </div>
          <div class="col-3">
            <div class="form-group">
              <label>User name</label>
              <input type="text" class="form-control" id="username" aria-describedby="username"
                     placeholder="Enter Username" formControlName="username">
            </div>
          </div>
          <div class="col-3">
            <div class="form-group">
              <label>User name</label>
              <input type="text" class="form-control" id="email" aria-describedby="email"
                     placeholder="Enter email" formControlName="email">
            </div>
          </div>
          <div class="col-3">
            <div class="form-group">
              <label>User Active</label>
              <select class="form-control" id="isActive" formControlName="isActive">
                <option>1</option>
                <option>2</option>
                <option>3</option>
              </select>
            </div>
          </div>
        </div>

        <div class="row">
          <!--<div >-->

          <aml-date-picker class="col-md-3" formControlName="expiryDateFrom" ngDefaultControl
                               label="Expiry Date From" idd="expiryDateFrom"></aml-date-picker>
          <!--<div class="col-md-3">-->
            <!--<div class="form-group">-->
              <!--<label>Expiry Date From</label>-->
              <!--&lt;!&ndash;<div class="detail-date-input">&ndash;&gt;-->
              <!--<mat-form-field>-->
                <!--<input class="form-control" matInput [matDatepicker]="expiryDateFrom" formControlName="expiryDateFrom">-->
                <!--<mat-datepicker-toggle matSuffix [for]="expiryDateFrom"></mat-datepicker-toggle>-->
                <!--<mat-datepicker #expiryDateFrom></mat-datepicker>-->
                <!--<aml-date-picker-remove [language]="CURRENT_LANG" [formGroup]="filters"-->
                                        <!--[formContName]="'expiryDateFrom'"></aml-date-picker-remove>-->
              <!--</mat-form-field>-->
              <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--</div>-->
          <!--</div>-->
        </div>
      </form>
    </div>

    <div class="card-footer">
      <div class="btn-group float-right" role="group" aria-label="Basic example">
        <aml-export-button (click)="onExport()"></aml-export-button>
        <aml-list-clear-btn (click)="onClear()"></aml-list-clear-btn>
        <aml-list-search-btn (click)="onSearch()"></aml-list-search-btn>
      </div>
    </div>
  </div>

  <div class="card mt-4">
    <div class="card-header">
      {{'amLib.abstractList.data' | translate}}
    </div>
    <div class="card-body">
      <table class="table table-hover">
        <thead>
        <tr>
          <th scope="col">{{'amLibSamples.abstractList.data.seq' | translate}}</th>
          <th scope="col">{{'amLibSamples.abstractList.data.name' | translate}}</th>
          <th scope="col">{{'amLibSamples.abstractList.data.email' | translate}}</th>
          <th scope="col">{{'amLibSamples.abstractList.data.isActive' | translate}}</th>
          <th scope="col">{{'amLibSamples.abstractList.data.expiryDate' | translate}}</th>
          <th scope="col">{{'amLibSamples.abstractList.data.role' | translate}}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of resultSet.data  | paginate: { id: 'reportPage',
                                                     itemsPerPage: paginationInfo.pageSize,
                                                     currentPage: paginationInfo.pageNum+1,
                                                     totalItems: resultSet.total }; index as i;">
          <th scope="row">{{(paginationInfo.pageNum * paginationInfo.pageSize) + (i+1)}}</th>
          <td>{{item | lookupTranslate: 'fullName'}}</td>
          <td>{{item.email}}</td>
          <td>{{item.isActive}}</td>
          <td>{{item.expiryDate}}</td>
          <td>{{item.role | lookupTranslate: 'title'}}</td>
        </tr>
        </tbody>
      </table>
      <aml-no-data-list [list]="resultSet.data"></aml-no-data-list>
    </div>
    <div class="card-footer">
      <aml-pagination (changePageSize)="onChangePageSize($event)"
                      [paginationID]="'reportPage'" [resultSet]="resultSet"
                      (changePage)="onChangePage($event)"></aml-pagination>
    </div>
  </div>
</div>


