<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Courses</li>
    </ol>
  </nav>

  <div class="card">
    <div class="card-header">
      {{'amLib.abstractList.filter.header' | translate}}
    </div>
    <div class="card-body">
      <form [formGroup]="filters" (keydown.enter)="onListSearch()">

        <div class="row">
          <div class="col-3">
            <div class="form-group">
              <label>User name</label>
              <input type="text" class="form-control" id="username" aria-describedby="username"
                     placeholder="Enter Username">
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="card-footer">
      <div class="btn-group float-right" role="group" aria-label="Basic example">
        <aml-export-button></aml-export-button>
        <aml-list-clear-btn (click)="onListClear()"></aml-list-clear-btn>
        <aml-list-search-btn (click)="onListSearch()"></aml-list-search-btn>
      </div>
    </div>
  </div>

  <div class="card mt-4">
    <div class="card-header">
      {{'amLib.abstractList.data' | translate}}
    </div>
    <div class="card-body">
      <table class="table table-hover">
        <thead>
        <tr>
          <th scope="col">{{'amLibSamples.abstractList.data.seq' | translate}}</th>
          <th scope="col">{{'amLibSamples.abstractList.data.name' | translate}}</th>
          <th scope="col">{{'amLibSamples.abstractList.data.email' | translate}}</th>
          <th scope="col">{{'amLibSamples.abstractList.data.isActive' | translate}}</th>
          <th scope="col">{{'amLibSamples.abstractList.data.expiryDate' | translate}}</th>
          <th scope="col">{{'amLibSamples.abstractList.data.role' | translate}}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of resultSet.data  | paginate: { id: 'reportPage',
                                                     itemsPerPage: paginationInfo.pageSize,
                                                     currentPage: paginationInfo.pageNum+1,
                                                     totalItems: resultSet.total }">
          <th scope="row">{{((paginationInfo.pageNum+1) * paginationInfo.pageSize) + (i+1)}}</th>
          <td>{{item.name}}</td>
          <td>{{item.isActive}}</td>
          <td>{{item.email}}</td>
          <td>{{item.isActive}}</td>
          <td>{{item.expiryDate}}</td>
        </tr>
        </tbody>
      </table>
      <aml-no-data-list [list]="resultSet.data"></aml-no-data-list>
    </div>
    <div class="card-footer">
      <aml-pagination (changePageSize)="onChangePageSize($event)"
                      [paginationID]="'reportPage'" [list]="resultSet.data"
                      (changePage)="onChangePage($event)"></aml-pagination>
    </div>
  </div>
</div>


