<!--<h4 class="page-title"></h4>-->
<div class="row registerContent">
  <div class="offset-3 col-md-6">
    <div class="card">
      <div class="card-header">
        <div class="card-title">{{'authentication.register.title' | translate}}</div>

        <!--</div>-->

      </div>
      <form [formGroup]="formData" (ngSubmit)="onSubmit()">
        <div class="card-body">
          <app-alert [alertInput]="alertInput"></app-alert>
            <!--Email Address-->
            <div class="form-group form-inline">
              <label for="email" class="col-md-3 col-form-label">
                {{'authentication.register.email.label' | translate}}
              </label>
              <div class="col-md-9 p-0">
                <input type="text" class="form-control input-full" id="email"
                       formControlName="email" am-validate [data]="validatorInput"
                       placeholder="{{'authentication.register.email.placeholder' | translate}}">
              </div>
            </div>

            <!--Username-->
            <div class="form-group form-inline">
              <label for="username" class="col-md-3 col-form-label">
                {{'authentication.register.username.label' | translate}}
              </label>
              <div class="col-md-9 p-0">
                <input type="text" class="form-control input-full" id="username"
                       formControlName="username" am-validate [data]="validatorInput"
                       placeholder="{{'authentication.register.username.placeholder' | translate}}">
              </div>
            </div>

            <!--Password-->
            <div formGroupName="pass" am-validate [data]="validatorInput" [isParent]="true">
              <div class="form-group form-inline">
                <label for="username" class="col-md-3 col-form-label">
                  {{'authentication.register.password.label' | translate}}
                </label>
                <div class="col-md-9 p-0">
                  <input type="password" class="form-control input-full" id="password"
                         formControlName="password" am-validate [data]="validatorInput" [parent]="'pass'"
                         placeholder="{{'authentication.register.password.placeholder' | translate}}">
                </div>
              </div>

              <!--Confirm Password-->
              <div class="form-group form-inline">
                <label for="username" class="col-md-3 col-form-label">
                  {{'authentication.register.confirmPassword.label' | translate}}
                </label>
                <div class="col-md-9 p-0">
                  <input type="password" class="form-control input-full" id="confirmPassword"
                         formControlName="confirmPassword" am-validate [data]="validatorInput" [parent]="'pass'"
                         placeholder="{{'authentication.register.confirmPassword.placeholder' | translate}}">
                </div>
              </div>
            </div>
            <!--Receive Email Check-->
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" formControlName="subscribeEmail">
                <span class="form-check-sign">{{'authentication.register.subscribeEmail' | translate}}</span>
              </label>
            </div>
        </div>

        <!--Buttons-->
        <div class="card-action">
          <div class="btn-group">

          </div>
          <button type="submit" class="btn btn-success">
            {{'authentication.register.buttons.register' | translate}}
          </button>

          <button type="reset" class="btn ml-5 btn-danger">
            {{'authentication.register.buttons.clear' | translate}}
          </button>

        </div>
      </form>
    </div>
  </div>
</div>
