<div class="container">
  <div class="row">
    <div class="offset-2 col-md-8">
      <div class="card">
        <div class="card-header">
          <h3>Course Main Details</h3>
        </div>
        <div class="card-body">
          <form [formGroup]="formData">

            <!--TODO: User dirty with invalid-->
            <div class="form-group"
                 [ngClass]= "{'has-error has-feedback' : formData.get('Name').invalid && (formData.get('Name').touched ||formData.get('Name').dirty)}">
              <label class="font-weight-bold">Name :</label>
              <input type="text" id="Name" class="form-control"  formControlName="Name">
              <small  class="form-text text-muted ">Please Max Length of name 15 char.</small>
            </div>
            <div class="form-group col-md-6 d-inline-block"
                 [ngClass]= "{'has-error has-feedback' : formData.get('Duration').invalid && (formData.get('Duration').touched ||formData.get('Duration').dirty)}">
              <label class="font-weight-bold">Duration :</label>
              <input type="number" id="Duration" class="form-control" formControlName="Duration" placeholder="Duration with Hours">
              <small class="form-text text-muted"> Duration Must be Required</small>
            </div>
            <div class="form-group col-md-6 d-inline-block"
                 [ngClass]= "{'has-error has-feedback' : formData.get('Date').invalid && (formData.get('Date').touched ||formData.get('Date').dirty)}">
              <label class="font-weight-bold">Expected Start Date :</label>
              <input type="date" id="Date" class="form-control" formControlName="Date">
              <small class="form-text text-muted">Start Date Must be required.</small>
            </div>
            <div class="form-group  col-md-6 d-inline-block"
                 [ngClass]= "{'has-error has-feedback' : formData.get('Type').invalid && (formData.get('Type').touched ||formData.get('Type').dirty)}">
              <label class="font-weight-bold">Type :</label>
              <select  class="form-control" formControlName="Type">
                <option class="mt-auto" *ngFor="let type of optionList">{{type.typeLabel}}</option>
              </select>
              <small  class="form-text text-muted">Type Must be required.</small>
            </div>
            <div class="form-group col-md-6 d-inline-block"
                 [ngClass]= "{'has-error has-feedback' : formData.get('Level').invalid && (formData.get('Level').touched ||formData.get('Level').dirty)}">
              <label class="font-weight-bold">Level :</label>
              <select  class="form-control " formControlName="Level">
                <option class="mt-auto"
                        *ngFor="let level of levelList"
                        [ngValue]="level.levelId">{{type.levelLabel}}</option>

              </select>
              <small  class="form-text text-muted">Level Must be required.</small>
            </div>
            <div class="form-group">
              <label class="font-weight-bold">Description :</label>
              <textarea  class="form-control" formControlName="Description">
              </textarea>
            </div>
            <div class="pull-right card-action">
              <button class="btn btn-success" (click)="creatNewCourse()">Next</button>
              <button class="ml-2 btn btn-danger">Back</button>
            </div>

          </form>

        </div>
      </div>

    </div>
  </div>

</div>
