
<div class="row loginContent">
  <div class="offset-4 col-md-4">
    <div class="card mt-4">
      <div class="card-header">
        <div class="card-title">{{'authentication.login.title' | translate}}</div>
      </div>
      <form [formGroup]="formData" (ngSubmit)="onSubmit()">
        <div class="card-body">
          <app-alert [alertInput]="alertInput"></app-alert>

          <!--Username-->
          <div class="form-group form-inline">
            <label for="username" class="col-md-3 col-form-label">
              {{'authentication.login.username.label' | translate}}
            </label>
            <div class="col-md-9 p-0">
              <input type="text" class="form-control input-full" id="username"
                     formControlName="username" am-validate [data]="validatorInput"
                     placeholder="{{'authentication.login.username.placeholder' | translate}}">
            </div>
          </div>

          <!--Password-->
            <div class="form-group form-inline">
              <label for="username" class="col-md-3 col-form-label">
                {{'authentication.login.password.label' | translate}}
              </label>
              <div class="col-md-9 p-0">
                <input type="password" class="form-control input-full" id="password"
                       formControlName="password" am-validate [data]="validatorInput"
                       placeholder="{{'authentication.login.password.placeholder' | translate}}">
              </div>
            </div>
        </div>

        <!--Buttons-->
        <div class="card-action">
          <!--<div class="btn-group">-->
            <button type="submit" class="btn btn-success mr-4">
              {{'authentication.login.buttons.login' | translate}}
            </button>

            <a [routerLink]="[ROUTES.REGISTER]">
              {{'authentication.login.buttons.register' | translate}}
            </a>
          <!--</div>-->

        </div>
      </form>
    </div>
  </div>
</div>
