<!--<div class="error-pagewrap">-->
  <!--<div class="error-page-int">-->
    <!--<div class="text-center m-b-md custom-login">-->
      <!--<h3>PLEASE LOGIN TO APP</h3>-->
      <!--<p>This is the best app ever!</p>-->
    <!--</div>-->
    <!--<div class="content-error">-->
      <!--<div class="hpanel">-->
        <!--<div class="panel-body">a-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--<simple-footer></simple-footer>-->
  <!--</div>-->
<!--</div>-->

<router-outlet></router-outlet>
