<!--<div class="mt-4 row">-->
  <!--<div class="offset-3 col-md-6">-->
    <!--<div class="card">-->
      <!--<div class="card-header">-->
        <!--<div class="card-title">Sections</div>-->
      <!--</div>-->
      <!--<div class="card-body">-->
        <!--<form [formGroup]="formData">-->
          <!--&lt;!&ndash;TODO: Fix Error message always appear&ndash;&gt;-->
          <!--<div class="form-group col-md-12" [ngClass]="{'has-error':formData.get('name').invalid && formData.get('name').dirty ,-->
       <!--'has-success':formData.get('name').valid && formData.get('name').dirty }">-->
            <!--<label for="name">Name</label>-->
            <!--<input type="text" class="form-control" id="name" formControlName="name" placeholder="Enter Name">-->
            <!--<small class="form-text text-muted" *ngIf="formData.get('name').hasError('required')&&-->
          <!--formData.get('name').dirty"> This field is required-->
            <!--</small>-->
            <!--<small class="form-text text-muted" *ngIf="formData.get('name').hasError('maxlength')"> Must be less than 15-->
            <!--</small>-->
          <!--</div>-->

          <!--<div class="form-group col-md-12">-->
            <!--<label for="description">Description</label>-->
            <!--<textarea class="form-control" id="description" formControlName="description" rows="4">-->
          <!--</textarea>-->
          <!--</div>-->

        <!--</form>-->

        <!--<button class=" btn btn-danger pull-right ml-2" *ngIf = "!isEditMode " >clear</button>-->
        <!--<button type="submit" class="btn btn-success  pull-right ml-2" *ngIf = "!isEditMode"(click)="addRow()">add</button>-->

        <!--<button class=" btn btn-danger pull-right ml-2" *ngIf = "isEditMode"(click)="reset()">discard</button>-->
        <!--<button type="submit" class="btn btn-success  pull-right ml-2" *ngIf = "isEditMode"(click)="addRow()">save</button>-->

        <!--&lt;!&ndash;<button class=" btn btn-danger pull-right ml-2" [hidden]="" >clear</button>&ndash;&gt;-->
        <!--&lt;!&ndash;<button type="submit" class="btn btn-success  pull-right ml-2"[hidden]="" >add</button>&ndash;&gt;-->


        <!--<table class="mt-5 table table-bordered">-->
          <!--<thead>-->
          <!--<tr>-->
            <!--<th scope="col">#</th>-->
            <!--<th scope="col">Section Name</th>-->
            <!--<th scope="col">Descriptions</th>-->
            <!--<th></th>-->
          <!--</tr>-->
          <!--</thead>-->
          <!--<tbody>-->
          <!--<tr *ngFor="let item of dataList; index as i">-->
            <!--<td>{{i+1}}</td>-->
            <!--<td>{{item.name}}</td>-->
            <!--<td>{{item.description}}</td>-->
            <!--<td>-->
              <!--<span class="la la-edit la-2x mr-lg-4" aria-hidden="true" (click)='editRow(dataList[i])' [hidden]="isEditMode"></span>-->
              <!--<span class="la la-trash la-2x" aria-hidden="true" (click)='removeRow(dataList[i])'></span>-->
            <!--</td>-->
          <!--</tr>-->
          <!--</tbody>-->
        <!--</table>-->

        <!--<button class="btn btn-danger pull-right ml-2">Discrad</button>-->
        <!--<button class="btn  btn-success pull-right ml-2" (click)="saveData()">Save</button>-->


      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
